[submodule ".intern_workspace/.skill_sources/intern_agent_skills"]
	path = .intern_workspace/.skill_sources/intern_agent_skills
	url = git@codeup.aliyun.com:finalsystems/chlxydl/intern_agent_skills.git
